# ========================
# Python
# ========================
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/

# Database
*.db

# Environment variables
.env

# ========================
# Node / Frontend
# ========================
node_modules/
build/
dist/

# ========================
# VS Code / Editor
# ========================
.vscode/

# ========================
# OS Files
# ========================
.DS_Store
Thumbs.db